<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iDiet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="/static/images/Board.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
	<link href="{{ url_for("static", filename="css/footer.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/navbar.css") }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse" id="header" data-spy="affix" data-offset-top="1"><!--TOP-->
        <div class="navbar-header" id="topLeft">
            <a href="/">
                <img id="logo" src="/static/images/Logo Reverse.png">
            </a>
            <button id="collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topRight">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <div class="collapse navbar-collapse navbar-right" id="topRight">
            <ul class="nav navbar-nav" id="navList">
                <li><a href="/">Home</a></li>
                <li class="active1"><a href="/recipe">Recipe</a></li>
                <li><a href="/health">My Health</a></li>
                <li><a href="/fun">Fun</a></li>
                <li><a href="/community">Community</a></li>
            </ul>

            <div id="usernameBox" class="dropdown-toggle" data-toggle="dropdown" style="background-color: #FF7200">
                <img id="displayPic" src="/static/images/admin.png">
            </div>
            <ul id="profileDropdown" class="dropdown-menu">
                <li class="disabled"><a id="dropdownUsernameLink">Hi Admin, <span>{{ admin["username"] }}</span></a></li>
                <li class="divider"></li>
                <li><a class="dropdownLink" href="/login"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Sign out</a></li>
            </ul>

        </div>
    </nav>
    {% from "includes/_formhelper.html" import render_field %}
    <br/><br/><br/><br/>
    <div class="container">
        <h1 style="background: rgba(0,0,0, 0.5); color: white; width:22%; margin-bottom: 0">Add new recipe</h1>
        <p style="background: rgba(0,0,0, 0.5); color: white; width:22%; text-align: center;">*Total time less than 30 mins is fast*</p>
        <form method="POST" action="" style="background: rgba(220,20,60, 0.8); color: black; padding: 8px 8px 8px 8px; font-size: 20px; border-radius: 5px;">
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ render_field(addR.name, class='form-control', required='required', placeholder='e.g. Chicken Tikka Masala') }}
                    </div>
                    <div class="form-group col-md-8">
                        {{ render_field(addR.photo, class='form-control', required='required', placeholder='Copy Image Address') }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ render_field(addR.prep, class='form-control', required='required', placeholder='eg. 5') }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ render_field(addR.cook, class='form-control', required='required', placeholder='eg. 20') }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ render_field(addR.cal, class='form-control', required='required', placeholder='eg. 120') }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ render_field(addR.serves, class='form-control', required='required', placeholder='eg. 4') }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ render_field(addR.healthy, class='form-control', required='required') }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ render_field(addR.forBMI, class='form-control', required='required', placeholder='eg. 20-30') }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ render_field(addR.prepItem, class='form-control', required='required', placeholder='e.g. 50g, Chopped onions*100g, Crushed Garlic*Salt*Oil*1kg, Rice*10g, Curry Powder') }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ render_field(addR.item, class='form-control', required='required', placeholder='e.g. Chicken,Yogurt,Cream,Tomato,Onion,Garlic,Ginger,Chili pepper,Coconut') }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ render_field(addR.method, rows="10", class='form-control', required='required', placeholder='e.g. In a large bowl, combine yogurt, lemon juice, 2 teaspoons cumin, cinnamon, cayenne, black pepper, ginger, and salt. Stir in chicken, cover, and refrigerate for 1 hour.*Preheat a grill for high heat.*Lightly oil the grill grate. Thread chicken onto skewers, and discard marinade. Grill until juices run clear, about 5 minutes on each side.*Melt butter in a large heavy skillet over medium heat. Saute garlic and jalapeno for 1 minute. Season with 2 teaspoons cumin, paprika, and 3 teaspoons salt. Stir in tomato sauce and cream. Simmer on low heat until sauce thickens, about 20 minutes. Add grilled chicken, and simmer for 10 minutes. Transfer to a serving platter, and garnish with fresh cilantro.     (step 1*step 2*step3)') }}
                    </div>
                </div>
                <br>
                {{ render_field(addR.submit, class='btn btn-success', required='required', value='+ ADD')}}
            </div>
        </form>
    </div>
        <br/><br/><br/><br/>
    {% include 'includes/_footer.html' %}
</body>
</html>